<template name="createTimbre">
  <div class="container" id="toolbar">

    <div class="row">
      <div class="col col1">
        <a href="/settings">
          <span class="genericon genericon-previous"></span>
        </a>
      </div>
      <div class="col col6">
        <h1 class="u-align-center">{{_ "timbre-create-timbre"}}</h1>
      </div>
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col col8">
        **Name / address label**
      </div>
    </div>

    <div class="row">
      <div class="col col8">
        **map**
      </div>
    </div>

    <div class="row">
      <div class="col col8">
        {{_ "timbre-create"}}
      </div>
    </div>

  </div>

</template>