<template name="createTimbre">
  <div class="container" id="toolbar">

    <div class="row">
      <div class="col col1">
        <a href="/settings">
          <span class="genericon genericon-previous"></span>
        </a>
      </div>
      <div class="col col6">
        <h1 class="u-align-center">{{_ "timbre-create-timbre"}}</h1>
      </div>
    </div>

  </div>

  <div class="container">

    <form>

      <div class="row">
        <div class="col col8">
            <div class="form-input">
              <input id="timbre-name" name="timbre-name" type="text" value="" placeholder="{{_ "timbre-name"}}" />
            </div>
            <div class="form-input">
              <input id="timbre-address" name="timbre-address" type="text" value="" placeholder="{{_ "timbre-address-optional"}}" />
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col col8">
          **map**
        </div>
      </div>

      <div class="row">
        <div class="col col8">
          <div class="form-submit">
            <input type="submit" class="button" value="{{_ "timbre-create"}}" />
          </div>
        </div>
      </div>

    </form>

  </div>

</template>