// STRUCUTRE

$margin-small = 12px
$margin-tiny = ($margin-small/2)
$margin-basic = ($margin-small*2)
$margin-large = ($margin-small*5)

$border-width = 1px

.container
  margin-top: $margin-small

// TIMING

$speed-basic = 500

// COLORS

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)
$color-white-smoke = rgb(247, 247, 247)

$color-light-gray = rgb(204,204,204)
$color-gray = rgb(132,132,132)
$color-dark-gray = rgb(100,100,100)

$color-light-green = rgb(244, 237, 231)
$color-dark-green = rgb(239, 232, 212)

$color-light-pink = rgb(255, 216, 210)
$color-dark-pink = rgb(254, 104, 107)

$color-light-blue = rgb(245, 250, 248)

html
  background-color: $color-white-smoke
  color: $color-black-soft

// TYPOGRAPHY

$font-light = 'WorkSansLight', sans-serif
$font-semibold = 'WorkSansSemiBold', sans-serif
$font-bold = 'WorkSansBold', sans-serif

$font-size-basic = 18px
$font-leading-basic = 1.4em

$font-size-h1 = 21px
$font-size-h2 = 21px
$font-size-h3 = 15px

html
  font-family: $font-light
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: .02em
  
input, textarea, keygen, select, button
  letter-spacing: .02em

// HEADINGS

h1
  font-size: $font-size-h1

h2
  font-size: $font-size-h2

h3
  font-family: $font-semibold
  font-size: $font-size-h3
  background-color: $color-gray
  padding: $margin-tiny $margin-small
  color: $color-white-soft
  text-transform: uppercase

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic

// LINKS

a,a:active,a:visited
  color:inherit
  text-decoration: none
    
// ICONS
    
.icon
  height: 18px
  padding-top: 4px
  float: right
  
.logo 
  margin: $margin-basic auto
  width: 140px

// TOOLBAR

#toolbar
  padding: $margin-small 0
  border-bottom: $border-width solid $color-light-gray
  background-color: $color-light-blue
  text-transform: uppercase
  .col
    text-align: center

img.toolbar-logo
  width: 100px
  vertical-align: middle

// FORM

form
  padding: 0 $margin-small
  border-bottom: $border-width solid $color-light-gray

input
  margin-bottom: $margin-small
  font-family: $font-light
  box-sizing: border-box
  padding: $margin-small
  border-radius: 4px
  width: 100%
  font-size: 1em
  border: solid $border-width $color-light-gray
  cursor: pointer
  &:focus
    outline: 0
  &[type=radio]
    width: auto

::-webkit-input-placeholder
  text-align: right

input:-moz-placeholder
  text-align: right

input.button
  border-width: 0 0 $border-width*2 0
  border-color: $color-gray
  font-family: $font-bold

// HOMEPAGE
.timbre 
  height: 100px
  box-sizing: border-box
  padding: $margin-small
  border-bottom: $border-width solid $color-light-gray
  .col 
    height: 100%
  h1
    font-family: $font-bold
    
svg.heart 
  width: 30px
  height: 30px
  fill: $color-white-smoke
  stroke: $color-light-gray
  stroke-width: 4px    

// SETTINGS

a.settings-button
  padding: $margin-small
  margin-bottom: $margin-small
  border-bottom: $border-width solid $color-light-gray
  display: block
  text-transform: uppercase 
  color: $color-gray

// CREATE TIMBRE

#map
  height: 0
  transition: height $speed-basic
  margin-bottom: $margin-small
  
// LOGIN SCENE
.login-logo
  margin: 0 auto
  
.login-form
  overflow: hidden
  opacity: 0
  height: 0
  -webkit-animation-name: login-open
  -webkit-animation-duration: .7s
  -webkit-animation-delay: 4.5s
  -webkit-animation-timing-function: ease-out
  -webkit-animation-fill-mode: forwards


#login-scene
  background-color: $color-light-blue
  position: fixed
  width: 100%
  height: 100%
  z-index: -1
  top: 0
  
.street
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 70px
  
rect.sidewalk 
  fill: $color-white-smoke
rect.curb 
  fill: $color-gray
rect.road
  fill: $color-dark-gray
  
.cone 
  fill: #FCDD7C
  
.cone-a
  position: absolute
  bottom: 60px
  left: 50%
  width: 30px
  -webkit-animation-name: cone-fade-out
  -webkit-animation-duration: 1s
  -webkit-animation-delay: 2.5s
  -webkit-animation-timing-function: linear
  -webkit-animation-fill-mode: forwards
  
.cone-b
  opacity: 0
  -webkit-animation-name: cone-fade-in
  -webkit-animation-duration: 1s
  -webkit-animation-delay: 3.5s
  -webkit-animation-timing-function: linear
  -webkit-animation-fill-mode: forwards

.circle 
  width: 36px
  height: 36px
  border-radius: 36px
  position: absolute
  fill: $color-light-pink
  bottom: -12px 
  left: -5px
  
.open-window
  fill: $color-light-blue
  
.building
  position: absolute
  top: 0
  left: 50%
  background-color: $color-light-green
  
.left-building, .right-building
  opacity: .4

.left-building
  margin-left: -260px
  
.right-building
  margin-left: 100px

.music
  position: absolute
  top: 60%
  opacity: 0
  left: 50%
  -webkit-animation-name: music
  -webkit-animation-duration: 2s
  -webkit-animation-delay: .5s
  -webkit-animation-timing-function: linear
  -webkit-animation-fill-mode: forwards
  
.note
  display: block
  margin-bottom: 10px
  &:nth-child(2n) 
    margin-left: -10px
    tranform: rotate(10deg)
  &:nth-child(3n) 
    margin-left: 10px
    tranform: rotate(-10deg)
    
@keyframes music {
  0% { 
    opacity: 0
    transform: rotate(6deg)
    top: 60%
  }
  50% {
    opacity: 1
    transform: rotate(-7deg)
    top: 34%
  }
  100% {
    opacity: 0
    transform: rotate(4deg)
    top: 12%
  }
}

@keyframes cone-fade-out {
  0% { 
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
  
@keyframes cone-fade-in {
  0% { 
    opacity: 0
    left: 70%
  }
  100% {
    opacity: 1
    left: 50%
  }
}

@keyframes login-open {
  0% { 
    opacity: 0
    height: 0
  }
  100% {
    opacity: 1
    height: 280px
  }
}



