// STRUCUTRE

  // GRID BUILDER

$cols = 8
$col = 40px
$gutter = 14px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
  &:after
    content:""
    display:table
    clear:both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

    // FLUID RESPONSIVE CONTAINER STYLE IF NO GRID

// .container
//   max-width: 700px
//   width: 90%
//   margin: 0 auto

$margin-tiny = ($gutter/2)
$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

// COLORS

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)
$color-white-smoke = rgb(247, 247, 247)

$color-gray = gray
$color-dark-gray = rgb(100,100,100)

$color-light-green = rgb(245, 250, 248)

$color-light-pink = rgb(255, 216, 210)
$color-dark-pink = rgb(254, 104, 107)

html
  background-color: $color-white-smoke
  color: $color-black-soft

// TYPOGRAPHY

$font-size-basic = 19px
$font-leading-basic = 1.4em

$font-size-h1 = 40px
$font-size-h2 = 30px
$font-size-h3 = 14px

html
  font-family: sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic

  // HEADINGS

h1
  font-size: $font-size-h1

h2
  font-size: $font-size-h2

h3
  font-size: $font-size-h3
  background-color: $color-dark-gray
  padding: $margin-tiny $margin-small
  color: $color-white-soft
  text-transform: uppercase
  margin-bottom: $margin-small

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic

  // LINKS

a,a:active,a:visited
  color:inherit
  text-decoration: none
  transition:opacity .2s
  &:hover
    opacity:.5

// TOOLBAR

#toolbar
  padding: $margin-small
  border-bottom: solid 2px $color-dark-gray
  background-color: $color-light-green
  
.logo-col
  text-align: center
  img.logo 
    width: 120px
  
// FORM

form 
  padding: 0 $margin-small
  
input
  margin-bottom: $margin-small
  &:focus
    outline: 0

input
  box-sizing: border-box
  padding: $margin-small
  border-radius: 4px
  width: 100%
  font-size: 1em
  border: solid 2px $color-gray
  cursor: pointer
  
::-webkit-input-placeholder 
  text-align: right
  
input:-moz-placeholder
  text-align: right
  
input.button
  border-width: 0 0 2px 0
  font-weight: 700
  
// SETTINGS

.settings-button
  padding: $margin-small
  border: solid $color-gray
  border-width: 1px 0
  display: block
  text-transform: uppercase
  .genericon
    float: right