<template name="header">
  <header id="header" class="container">
<!--
    <div class="row">
      <div class="col col8">
        <ul class="u-inline-list">
          <li><a href="{{pathFor 'homepage'}}"><span class="genericon genericon-home"></span></a></li>
          <li><a href="{{pathFor 'items'}}">{{_ "menu-items"}}</a></li>
          {{#if isLoggedIn}}
            <li><a href="/" class="log-out">Log Out</a></li>
          {{else}}
            <li><a href="{{pathFor 'login'}}">Log In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
-->
  </header>
</template>
