<template name="forgot">
  <div id="toolbar">

    <div class="wrapper">

      <div class="row">
        <nav class="col col1">
          <a href="{{pathFor 'login'}}"><img src="/icons/timbre_icon-back.svg" class="icon"/></a>
        </nav>
        <div class="col col6 u-align-center">
          {{_ "user-forgot"}}
        </div>
      </div>

    </div>

  </div>

  <div class="wrapper">

    <div class="container">

      <h1 class="u-align-center"><img src="/images/timbre-logo.svg" class="logo" alt="Timbre" /></h1>

      <div class="row">
        <div class="col col8">
          <form>
            <div class="form-input">
              <input id="email" name="email" type="text" value="" placeholder="{{_ "user-email"}}" />
            </div>

            <div class="form-submit">
              <input type="submit" class="button" value="{{_ "user-reset"}}" />
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

</template>