<template name="signup">
  <div id="toolbar">
    <div class="container">
      <div class="row">
        <nav class="col col1">
          <a href="{{pathFor 'login'}}"><span class="genericon genericon-previous"></span></a>
        </nav>
        <div class="col col6 u-align-center">
          {{_ "user-signup"}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <h1 class="u-align-center"><img src="/images/timbre-logo.svg" /></h1>

    <div class="row">
      <div class="col col8">
        <form>
          <div class="form-input">
            <input id="username" name="username" type="text" value="" placeholder="{{_ "user-username"}}" />
          </div>
          <div class="form-input">
            <input id="email" name="email" type="text" value="" placeholder="{{_ "user-email"}}" />
          </div>
          <div class="form-input">
            <input id="password" type="password" value="" placeholder="{{_ "user-password"}}" />
          </div>

          <div class="form-submit">
            <input type="submit" class="button" value="{{_ "user-signup"}}" />
          </div>
        </form>
      </div>
    </div>

  </div>
</template>