<template name="about">
  <div id="toolbar">
    <div class="container">

      <h1 class="u-align-center"><img src="/images/timbre-logo.svg" /></h1>

      <div class="row">
        <div class="col col8">
          <h2>{{_ "home-title"}}</h2>
          <p>{{_ "home-copy"}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col col4">
        {{#if notLoggedIn}}
          <a href="{{pathFor 'login'}}">{{_ "user-login"}}</a>
        {{else}}
          Logged in
        {{/if}}
      </div>
      <div class="col col4">
        <a href="{{pathFor 'signup'}}">{{_ "user-signup"}}</a>
      </div>
    </div>

  </div>
</template>