<template name="changePassword">
  <div id="toolbar">

    <div class="wrapper">

      <div class="row">
        <div class="col col1">
          <a href="/settings">
            <img src="/icons/timbre_icon-back.svg" class="icon"/>
          </a>
        </div>
        <div class="col col6">
          <h1 class="u-align-center">{{_ "settings-password"}}</h1>
        </div>
      </div>

    </div>

  </div>

  <div class="wrapper">

    <div class="container">

      <form>

        <div class="row">
          <div class="col col8">
              <div class="form-input">
                <input id="password" type="password" value="" placeholder="{{_ "settings-new-password"}}" />
              </div>
              <div class="form-input">
                <input id="password" type="password" value="" placeholder="{{_ "settings-new-password-again"}}" />
              </div>
              <div class="form-submit">
                <input type="submit" class="button" value="{{_ "settings-change"}}" />
              </div>
          </div>
        </div>

      </form>

    </div>

  </div>

</template>