<template name="homepage">
  <div id="toolbar">
    <div class="container">

      <div class="row">
        <div class="col col1">
          <a href="/settings">
            <span class="genericon genericon-cog"></span>
          </a>
        </div>
        <div class="col col6 logo-col">
          <img src="/images/timbre-logo.svg" class="logo"/>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row">
      {{#each timbres}}
        <div class="timbre" data-id="{{_id}}">
          <div class="col col6">
            <h1>{{name}}</h1>
            <h2>{{address}}</h2>
          </div>
          <div class="col col2">
            &#9825;
          </div>
        </div>
      {{/each}}
    </div>

  </div>

</template>