<template name="homepage">
  <div id="toolbar">
    <div class="wrapper">

      <div class="row">
        <div class="col col1">
          <a href="/settings">
            <img src="/icons/timbre_icon-gear.svg" class="icon"/>
          </a>
        </div>
        <div class="col col6 logo-col">
          <img src="/images/timbre-logo.svg" class="toolbar-logo"/>
        </div>
      </div>

    </div>
  </div>

  <div class="wrapper">
    <div class="container">

      <div class="row">
        {{#each timbres}}
          <div class="timbre" data-id="{{_id}}">
            <div class="col col6">
              <h1>{{name}}</h1>
              <h2>{{address}}</h2>
              {{location.coordinates}}
            </div>
            <div class="col col2">
              &#9825;
            </div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>

</template>
