<template name="settings">
  <div id="toolbar">
    <div class="container">

      <div class="row">
        <div class="col col1">
          <a href="/">
            <span class="genericon genericon-previous"></span>
          </a>
        </div>
        <div class="col col6">
          <h1 class="u-align-center">{{_ "settings-title"}}</h1>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col col8">
        <h3>Timbres</h3>
      </div>
    </div>

    **List timbres associated with user**
    {{#each timbres}}
    <div class="row">
      <div class="col col6">
        {{_id}}
      </div>
      <div class="col col2">
        <a href="/timbre/edit/{{_id}}"><span class="genericon genericon-edit"></span></a>
      </div>
    </div>
    {{/each}}

    <div class="row">
      <div class="col col8">
        <a href="/timbre/create" class="settings-button">{{_ "settings-create-new"}} <span class="genericon genericon-plus"></span></a>
      </div>
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col col8">
        <h3>{{_ "settings-user-settings"}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col col8">
        <form>
          <div class="form-input">
            <input id="username" name="username" type="text" value="" placeholder="{{_ "user-username"}}" />
          </div>
          <div class="form-input">
            <input id="email" name="email" type="text" value="" placeholder="{{_ "user-email"}}" />
          </div>
          <div class="form-submit">
            <input type="submit" class="button" value="{{_ "settings-change"}}" />
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col col8">
        <a href="/change-password" class="settings-button">{{_ "settings-change-password"}} <span class="genericon genericon-next"></span></a>
      </div>
    </div>

  </div>

</template>