<template name="settings">
  <div id="toolbar">
    <div class="wrapper">

      <div class="row">
        <div class="col col1">
          <a href="/">
            <img src="/icons/timbre_icon-back.svg" class="icon"/>
          </a>
        </div>
        <div class="col col6">
          <h1 class="u-align-center">{{_ "settings-title"}}</h1>
        </div>
      </div>

    </div>
  </div>

  <div class="wrapper">

    <div class="row">
      <div class="col col8">
        <h3>Timbres</h3>
      </div>
    </div>

    <div class="container">

      {{#each userTimbres}}
      <div class="row">
        <div class="timbre" data-id="{{_id}}">
          <div class="col col7">
            <div class="u-holder">
              <div class="u-held">
                <h1>{{name}}</h1>
                <span class="address">{{address}}</span>
                <!--{{location.coordinates}}-->
              </div>
            </div>
          </div>
          <div class="col col1 u-align-center">
            <div class="u-holder">
              <div class="u-held">
                <a href="/timbre/edit/{{_id}}"><img src="/icons/timbre_icon-pencil.svg" class="icon"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

      <div class="row">
        <div class="col col8">
          <a href="/timbre/create" class="settings-button">{{_ "settings-create-new"}} <img src="/icons/timbre_icon-plus.svg" class="icon"/></a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col col8">
        <h3>{{_ "settings-user-settings"}}</h3>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col col8">
          <form>
            <div class="form-input">
              <input id="username" name="username" type="text" value="" placeholder="{{_ "user-username"}}" />
            </div>
            <div class="form-input">
              <input id="email" name="email" type="text" value="" placeholder="{{_ "user-email"}}" />
            </div>
            <div class="form-submit">
              <input type="submit" class="button" value="{{_ "settings-change"}}" />
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col col8">
          <a href="/change-password" class="settings-button">{{_ "settings-change-password"}} <img src="/icons/timbre_icon-next.svg" class="icon"/></a>
        </div>
      </div>

    </div>

  </div>

</template>