<template name="leaveTimbre">

  <div id="toolbar">

    <div class="wrapper">

      <div class="row">
        <div class="col col1">
          <a href="/settings">
            <img src="/icons/timbre_icon-back.svg" class="icon"/>
          </a>
        </div>
        <div class="col col6">
          <h1 class="u-align-center">{{_ "timbre-edit-leave"}}</h1>
        </div>
      </div>

    </div>

  </div>

  
  <div class="wrapper">

    <div class="container">

	    <div class="row">
        <div class="col col8">
        	<p>
        		You'll have to have another member of the Timbre add you back if you want to join again.
        	</p>
        	<p>
        		If you're the last member, the Timbre will be deleted.
      		</p>
      		<p>
      			Are you sure you want to leave?
    			</p>
    			<form id="form-leave-timbre">
    				<input type="submit" class="button" value="Leave" />
    			</form>
        </div>
      </div>

		</div>

	</div>

</template>