/**

	Work Sans

*/

@font-face {
    font-family: 'WorkSansBold';
    src: url('/fonts/worksans/WorkSans-Bold.woff2') format('woff2'),
    url('/fonts/worksans/WorkSans-Bold.woff') format('woff'),
    url('/fonts/worksans/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSansSemiBold';
    src: url('/fonts/worksans/WorkSans-SemiBold.woff2') format('woff2'),
    url('/fonts/worksans/WorkSans-SemiBold.woff') format('woff'),
    url('/fonts/worksans/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSansLight';
    src: url('/fonts/worksans/WorkSans-Light.woff2') format('woff2'),
    url('/fonts/worksans/WorkSans-Light.woff') format('woff'),
    url('/fonts/worksans/WorkSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}